{% extends 'base.html.twig' %}

{% block title %}se connecter{% endblock %}

{% block body %}
  <header>
    <!--Navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Accueil</a>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/profile/commandez">Achetez le pack de démarage</a>
            </li>
            <li class="nav-item">
              <a id="CGV" class="nav-link" href="/cgv">Conditions générales de vente</a>
            </li>
            <li class="nav-item">
              <a id="RGPD" class="nav-link" aria-current="page" href="/rgpd">Réglementation concernant les données personnelles</a>
            </li>
            <li class="nav-item">
              <a id="contact" class="nav-link" aria-current="page" href="/profile/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a id="connecter" class="nav-link" aria-current="page" href="/register">s'enregistrer</a>
            </li>
            <li class="nav-item">
              <a id="login" class="nav-link active" aria-current="page" href="/login">se connecter/se déconnecter</a>
            </li>
            <li class="nav-item">
              <a id="user" class="nav-link" aria-current="page" href="/profile/user">mon espace</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section>
        <form action="{{ path('app_login') }}" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">se déconnecter</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">connectez-vous</h1>
            <label for="inputEmail">Email</label>
            <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="current-email" required autofocus>
            <label for="inputPassword">mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
                
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
            
            <br/>
            <button class="btn btn-lg btn-primary" type="submit">
                se connecter
            </button><br/>
            <br/>
            <div class="mb-3">Vous n'êtes pas enregistré ? <a href="register">enregistrez-vous en cliquant ici</a></div>
        </form>
    </section>
</main>
{% endblock %}
