{% extends 'base.html.twig' %}

{% block title %}Bonjour UserController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <header>
    <!--Navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Accueil</a>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/profile/commandez">Achetez le pack de démarage</a>
                </li>
                <li class="nav-item">
                    <a id="CGV" class="nav-link" href="/cgv">Conditions générales de vente</a>
                </li>
                <li class="nav-item">
                    <a id="RGPD" class="nav-link" aria-current="page" href="/rgpd">Réglementation concernant les données personnelles</a>
                </li>
                <li class="nav-item">
                    <a id="contact" class="nav-link" aria-current="page" href="/profile/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a id="connecter" class="nav-link" aria-current="page" href="/register">s'enregistrer</a>
                </li>
                <li class="nav-item">
                    <a id="login" class="nav-link" aria-current="page" href="/login">se connecter/se déconnecter</a>
                </li>
                <li class="nav-item">
                    <a id="user" class="nav-link active" aria-current="page" href="/profile/user">mon espace</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="example-wrapper">
                <h1>Bonjour {{ prenom }} ! ✅</h1>
                <br/>
                <h2>Vos données personnelles :</h2>
                <div>{{ nom }} {{ prenom }}</div>
                <div>{{ email }}</div>
                <br/>
                <h2>Votre facture : </h2>
                <br/>
                
                {% if id %}
                <div>Facture N° {{ id }}</div>
                <br/>
                <div>{{ nom }} {{ prenom }}</div>
                <div>{{ email }}</div>
                <br/>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>designation</th>
                            <th>quantité</th>
                            <th>prix</th>
                            <th>monnaie</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="description"></td>
                            <td class="quantity"></td>
                            <td class="price"></td>
                            <td class="money"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">total</td>
                            <td class="price"></td>
                            <td class="money"></td>
                        </tr>
                        <tr>
                            <td colspan="2">payé</td>
                            <td class="price"></td>
                            <td class="money"></td>
                        </tr>
                    </tfoot>
                </table>-->
                {% else %}
                    <div>Vous n'avez pas de facture.</div>
                {% endif %}
        </section>
    <main>
    <script src="{{asset('js/jquery.js')}}"></script>
    <script src="{{asset('js/bootstrap.js')}}"></script>
    <script src="{{asset('js/script.js')}}" type="module"></script>
{% endblock %}
