{% extends "base.html.twig" %}
{% block title %}CGV{% endblock %}
{% block body %}
  <header>
  <!--Navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Accueil</a>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/profile/commandez">Achetez le pack de démarrage</a>
            </li>
            <li class="nav-item">
              <a id="CGV" class="nav-link active"  href="/cgv">Conditions générales de vente</a>
            </li>
            <li class="nav-item">
              <a id="RGPD" class="nav-link" aria-current="page" href="/rgpd">Réglementation concernant les données personnelles</a>
            </li>
            <li class="nav-item">
              <a id="contact" class="nav-link" aria-current="page" href="/profile/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a id="connecter" class="nav-link" aria-current="page" href="/register">s'enregistrer</a>
            </li>
            <li class="nav-item">
              <a id="login" class="nav-link" aria-current="page" href="/login">se connecter/se déconnecter</a>
            </li>
            <li class="nav-item">
              <a id="user" class="nav-link" aria-current="page" href="/profile/user">mon espace</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section>
      <h1>Conditions générales de vente</h1>
      <br/>
      <ol>
        <li>Le prix unitaire du pack de démarrage est de {{ price }} {{ money }}.</li>
        <li>Le paiement sera efféctué à {{ admin_name }} dont voici les coordonées : Nom de la micro-entreprise : {{ admin_company }}, numéro de siret : {{ admin_siret }}, adresse : {{ admin_address }}, adresse e-mail : {{ admin_email }}, numéro de téléphone : {{ admin_telephone }}</li>
        <li>Mode de paiement : le paiement s'effectura par carte bancaire uniquement.</li>
        <li>Le pack de démarrage étant un dossier numérique et étant téléchargeable immédiatement après le paiement, vous devez renoncer à votre délai de rétractation de 14 jours et ne pouvez pas demander un remboursement.</li>
        <li>Une fois le paiement effectué et valide, vous recevrez un e-mail contenant la facture et vous pourrez télécharger le pack de démarrage.</li>
        <li>La TVA est non applicable, ART.293B du CGI.</li>
        <li>{{ admin_name }} est le responsable  du site web et {{ admin_host}} en est l'hébergeur.</li>
      </ol>
    </section>
  </main>
{% endblock %}
