{% extends "base.html.twig" %}
{% block title %}ready site{% endblock %}
{% block body %}
  <header>
    <!--Navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand active" href="{{ path('index')}}">Accueil</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('commandez')}}">Achetez le {{ description }}</a>
            </li>
            <li class="nav-item">
              <a id="CGV" class="nav-link" href="{{ path('cgv')}}">Conditions générales de vente</a>
            </li>
            <li class="nav-item">
              <a id="RGPD" class="nav-link" aria-current="page" href="{{ path('rgpd')}}">Réglementation concernant les données personnelles</a>
            </li>
            <li class="nav-item">
              <a id="licence" class="nav-link" aria-current="page" href="{{ path('app_licence')}}">licence</a>
            </li>
            <li class="nav-item">
              <a id="contact" class="nav-link" aria-current="page" href="{{ path('app_contact')}}">Contact</a>
            </li> 
            <li class="nav-item">
              <a id="connecter" class="nav-link" aria-current="page" href="{{ path('register')}}">s'enregistrer</a>
            </li>
            <li class="nav-item">
              <a id="login" class="nav-link" aria-current="page" href="{{ path('app_login')}}">se connecter/se déconnecter</a>
            </li>
            <li class="nav-item">
              <a id="user" class="nav-link" aria-current="page" href="{{ path('app_user')}}">mon espace</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <img id="header-image" src="{{asset('images/businessman-3213659_1920.jpg')}}" alt="image affaire"/>
  </header>
  <main>
    <section>
      {% for message in app.flashes('cancel') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
      {% endfor %}
      <h1>Bonjour !</h1>
      <br/>
      <p>Vous recherchez un job facile et peu chronophage en télétravail ? 
        Vous désirez être indépendant et travailler de où vous voulez et quand vous voulez ?
        Alors vous êtes au bon endroit. {{ admin_company }} a l'immense plaisir de vous présenter le {{ description }} 
        qui vous permettra de gagner de l'argent avec internet sans vous prendre énormément de temps. 
        La seule chose dont vous aurez besoin est d'un ordinateur et d'une connection à internet.</p>
      <br/>
      <div class="img">
        <img id="pack" src="{{asset('images/pack.png')}}" alt="pack"/>
      </div>
      
      <div class="text-center">
        <a class="btn btn-success" href="{{ path('commandez')}}" role="button">Achetez le {{ description }} maintenant</a>
      </div>
      
      <br/>
      <h2>Mais de quoi s'agit-il exactement ?</h2>
      <br/>
      <p>Il s'agit d'un dossier numérique contenant un site web autonome  
        et une formation permettant de le mettre en place et commencer à gagner de l'argent avec. Le tout pour seulement {{ price }} {{ currency }}. Ne ratez pas cette opportunité.
      </p>
      <div class="img">
        <img id="monnaie" src="{{asset('images/money-1005464_1920.jpg')}}" alt="monaie euro"/>
      </div>
      <br/>
      <br/>
      <br/>
      <p>En effet, {{ admin_company }} a créé pour vous un site web autonome. 
      Une fois personnalisé et en ligne vous n'avez plus rien à faire à part répondre aux éventuelles questions de vos clients.
      Le site envoie automatiquement aux clients un e-mail contenant la facture et le {{ description }} est téléchargeable de suite après le paiement.  
      Vous n'avez pas besoin de connaissances particulières. Vous devez juste être majeur, avoir un compte en banque et savoir lire et écrire.
      Tout est expliqué dans les moindres détails et dans un langage compréhensible par tous dans le guide du pack. Vous n'aurez qu'à suivre les instructions une par une pour tout mettre en place facilement.
      <br/>
      <br/>
      Commencez à gagner de l'argent avec internet en quelques clics seulement.
      </p>
      <br/>
    
      <div class="text-center">
        <a class="btn btn-success" href="{{ path('commandez')}}" role="button">Achetez le {{ description }} maintenant</a>
      </div>
    </section>
  </main>
{% endblock %}